{% extends 'base.html' %}

{% block 'header' %}
<div class="banner about-banner">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<img src="assets/images/logo.png" alt="logo" />
					</div>
					<div class="logo-right">
						<p><i class="fa fa-phone" aria-hidden="true"> </i>{{ contactInfo.phone }}</p>
					</div>
					<div class="top-nav">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
			<div class="about-banner-text">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="base.html">Home</a></li>
						<li class="active">About</li>
					</ol>
				</div>
			</div>
			<!-- //banner-text -->
</div>
{% endblock %}
{% block 'content' %}
<div class="about">
   <div class="container">
      <h3 class="w3ls-title">{{ aboutUs.main_title }}</h3>
      <div class="about-info">
         <div class="about-row">
            <h4>{{ aboutUs.title }}</h4>
            <p class="top">
            <p>{{ aboutUs.description_field }}</p>
         </div>
         <div class="about-bottom-row">
             {% if Testimonials %}
                <div class="col-md-6 offic-time">
            {% else %}
                <div class="col-md-12 offic-time">
            {% endif %}
               <div class="time-top">
                  <h4>Office Hours</h4>
               </div>
               <div class="time-bottom">
                  <h5>{{ aboutUs.office_hours|safe }}</h5>
               </div>
            </div>
            {% if Testimonials %}
            <div class="col-md-6 testi">
               <div class="testi-slider">
                  <h3 class="title1">Testimo<span>nials</span></h3>
                  <div class="flexslider flexslider1">
                     <ul class="slides">
                         {% for Testimonial in Testimonials %}
                        <li>
                           <p>{{ Testimonial.testimonials|safe }}</p>
                        </li>
                         {% endfor %}
                     </ul>
                  </div>
                  <!-- FlexSlider -->
                  <script defer src="assets/js/jquery.flexslider.js"></script>
                  <script type="text/javascript">
                     $(window).load(function(){
                       $('.flexslider').flexslider({
                     	animation: "slide",
                     	start: function(slider){
                     	  $('body').removeClass('loading');
                     	}
                       });
                     });

                  </script>
                  <!-- End-slider-script -->
               </div>
            </div>
             {% endif %}
            <div class="clearfix"> </div>
         </div>
      </div>
   </div>
</div>
<div class="team">
   <div class="container">
      <h3 class="w3ls-title">{{ MeetOurTeamTitle.title }}</h3>
      <div class="team-grids">
         <ul class="ch-grid">
            <li class="ch-grid-item">
               <div class="ch-item ch-img-0">
                  <div class="ch-info">
                     <h3>Director</h3>
                     <p>Scott</p>
                  </div>
               </div>
            </li>
         </ul>
         <ul class="ch-grid">
            {% for OurTeam in OurTeams %}
            <li class="ch-grid-item">
               <div class="ch-item ch-img-0">
                  <div class="ch-info">
                     <h3>{{ OurTeam.occupation }}</h3>
                     <p>{{ OurTeam.name }}</p>
                  </div>
               </div>
            </li>
            {% endfor %}
         </ul>
         <div class="clearfix"> </div>
      </div>
      <ul class="ch-grid">
         <div class="team">
            <div class="container">
               <div class="w3ls-title">
                  <h4>{{ CustomerService.main_title }}</h4>
                  <p class="top">
                  <p>{{ CustomerService.description_field }}</p>
                  <div class="customerteam"><img src="{{ CustomerService.image.url }}" alt="customer service team" /> </div>
               </div>
            </div>
         </div>
      </ul>
   </div>
</div>
{% endblock %}