{% extends 'base.html' %}

{% block 'header' %}
<div class="banner about-banner">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<img src="assets/images/logo.png" alt="logo" />
					</div>
					<div class="logo-right">
						<p><i class="fa fa-phone" aria-hidden="true"> </i>{{ contactInfo.phone }}</p>
					</div>
					<div class="top-nav">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
			<div class="about-banner-text">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="base.html">Home</a></li>
						<li class="active">Gallery</li>
					</ol>
				</div>
			</div>
			<!-- //banner-text -->
</div>
{% endblock %}
{% block 'content' %}
<div class="gallery">
   <div class="container">
      <h3 class="w3ls-title">{{ GalleryFrontPage.main_title }}</h3>
      <div class="gallery-info">
         <div class="col-md-12 gallery-grids">
            <div class="galry-text">
               <p>{{ GalleryFrontPage.description_field }}</p>
            </div>

            {% for GalleryImageChunk in GalleryImageChunks %}
            <div style="width: 100%">
                {% for GalleryImage in GalleryImageChunk %}
                <a href="{{ GalleryImage.image.url }}" data-lightbox="example-set" data-title="{{ GalleryImage.image_title }}">
                    <div style="background: url({{ GalleryImage.image.url }}) center center; background-size: cover;" class="gallery-item"></div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
      </div>
      </div>
      <script src="assets/js/lightbox-plus-jquery.min.js"></script>
   </div>
</div>
{% endblock %}