{% extends 'base.html' %}

{% block 'header' %}
<div class="banner about-banner">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<img src="assets/images/logo.png" alt="logo" />
					</div>
					<div class="logo-right">
						<p><i class="fa fa-phone" aria-hidden="true"> </i>{{ contactInfo.phone }}</p>
					</div>
					<div class="top-nav">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
			<div class="about-banner-text">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="base.html">Home</a></li>
						<li class="active">Pay Online</li>
					</ol>
				</div>
			</div>
			<!-- //banner-text -->
</div>
{% endblock %}


{% block 'content' %}
<div class="about">
   <div class="container">
      <h3 class="w3ls-title">{{ PayOnlineFrontPage.main_title }}</h3>
      <div class="about-info">
         <div class="about-row">
            <h4>{{ PayOnlineFrontPage.title }}</h4>
            <p>{{ PayOnlineFrontPage.description|safe }}<p>
         </div>
         <div class="about-bottom-row">
            <div class="col-md-12 offic-time">
               <div class="time-top">
                  <h4>Please Note</h4>
               </div>
               <div class="time-bottom">
                  <p>{{ PayOnlineNote.please_note|safe }}</p>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                     <div>
                        <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="K26US9JG3CT8S"> <input alt="PayPal - The safer, easier way to pay online." border="0" name="submit" src="assets/images/pay-now-button.png" type="image"> <img alt="" border="0" height="1" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}