{% extends 'base.html' %}

{% block 'header' %}
<div class="banner about-banner">
			<!-- header -->
			<div class="header">
				<div class="container">
					<div class="logo">
						<img src="assets/images/logo.png" alt="logo" />
					</div>
					<div class="logo-right">
						<p><i class="fa fa-phone" aria-hidden="true"> </i>{{ contactInfo.phone }}</p>
					</div>
					<div class="top-nav">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //header -->
			<!-- banner-text -->
			<div class="about-banner-text">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="base.html">Home</a></li>
						<li class="active">Services</li>
					</ol>
				</div>
			</div>
			<!-- //banner-text -->
</div>
{% endblock %}

{% block 'content' %}
{% if shouldShowServices %}
<div class="services">
   <div class="container">
      <h3 class="w3ls-title">{{ ServicesFrontPage.main_title }}</h3>
      <div class="about-info">
         <div class="about-row">
            <p class="top">
            <p>{{ ServicesFrontPage.description_field }}</p>
            <br>
            <br>
            <div class="services-agile-row">
               <div class="col-md-8 services-grid-info">
                  <div class="services-grid-row">
                     <div class="col-md-6 services-grid services-img" style="background: url({{ Service.0.image.url }}) no-repeat center 0px;background-size:cover;">
                     </div>
                     <div class="col-md-6 services-grid services-text">
                        <h4>{{ Service.0.title }}</h4>
                        <p>{{ Service.0.description_field }}</p>
                     </div>
                     <div class="clearfix"> </div>
                  </div>
                  <div class="services-grid-row">
                     <div class="col-md-6 services-grid services-img3" style="background: url({{ Service.1.image.url }}) no-repeat center 0px;background-size:cover;">
                     </div>
                     <div class="col-md-6 services-grid services-text3">
                        <h4>{{ Service.1.title }}</h4>
                        <p>{{ Service.1.description_field }}</p>
                     </div>
                     <div class="clearfix"> </div>
                  </div>
               </div>
               <div class="col-md-4 services-grid-info services-grid-row">
                  <div class="services-grid services-img2" style="background: url({{ Service.2.image.url }}) no-repeat center 0px;background-size:cover;">
                  </div>
                  <div class="services-grid services-text2">
                     <h4>{{ Service.2.title }}</h4>
                     <p>{{ Service.2.description_field }}</p>
                  </div>
               </div>
               <div class="clearfix"> </div>
            </div>
            <div class="services-agile-row">
               <div class="col-md-8 services-grid-info">
                  <div class="services-grid-row">
                     <div class="col-md-6 services-grid services-img4" style="background: url({{ Service.3.image.url }}) no-repeat center 0px;background-size:cover;">
                     </div>
                     <div class="col-md-6 services-grid services-text">
                        <h4>{{ Service.3.title }}</h4>
                        <p>{{ Service.3.description_field }}</p>
                     </div>
                     <div class="clearfix"> </div>
                  </div>
                  <div class="services-grid-row">
                     <div class="col-md-6 services-grid services-img5" style="background: url({{ Service.4.image.url }}) no-repeat center 0px;background-size:cover;">
                     </div>
                     <div class="col-md-6 services-grid services-text3">
                        <h4>{{ Service.4.title }}</h4>
                        <p>{{ Service.4.description_field }} </p>
                     </div>
                     <div class="clearfix"> </div>
                  </div>
               </div>
               <div class="col-md-4 services-grid-info services-grid-row">
                  <div class="services-grid services-img6" style="background: url({{ Service.5.image.url }}) no-repeat center 0px;background-size:cover;">
                  </div>
                  <div class="services-grid services-text2">
                     <h4>{{ Service.5.title }}</h4>
                     <p>{{ Service.5.description_field }}</p>
                  </div>
               </div>
               <div class="clearfix"> </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}